<div *ngIf="color" class="modal-body">
  <div class="row">
    <div class="col-12 col-md-5 pb-3 pb-md-0">
      <div class="card">
        <div class="card-body">
          <div
            class="card--artwork__header"
            [ngStyle]="{
              'background-image': 'url(' + color.thumbnailUri + ')'
            }"
          ></div>
          <h3 class="m-0 pt-3">
            {{ color.name }}
          </h3>

          <p class="text-muted font-weight-light m-0">
            {{ color.creators }}
          </p>
          <p class="text-muted font-weight-light">
            {{ color.type | titlecase }}
          </p>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-7">
      <div class="card">
        <div class="card-body">
          <h3>Create Auction</h3>
          <div class="row py-4">
            <div class="col-12 col-md-7">
              <label class="mb-0">Minimum Price</label>
              <small class="d-block text-muted mb-2"
                >Minimum price is 0.1 tez</small
              >
              <div class="input-group mb-4">
                <input
                  type="number"
                  [(ngModel)]="bidAmount"
                  (keydown)="validate()"
                  (change)="validate()"
                  class="form-control"
                  placeholder="1"
                  aria-label="minimum price"
                  step="0.1"
                  min="0.1"
                />
                <div class="input-group-append">
                  <span class="input-group-text">tez</span>
                </div>
              </div>
              <div class="d-block text-muted mb-2">
                {{ amountError }}
              </div>
              <label class="mb-0">Auction Duration</label>
              <small class="d-block text-muted mb-2"
                >Minimum duration is half a day</small
              >
              <div class="input-group mb-4">
                <input
                  type="number"
                  [(ngModel)]="durationDays"
                  (keydown)="validate()"
                  (change)="validate()"
                  class="form-control"
                  placeholder="1"
                  aria-label="auction duration"
                  step="0.1"
                  min="0.5"
                  max="7"
                />
                <div class="input-group-append">
                  <span class="input-group-text">days</span>
                </div>
              </div>
              <div class="d-block text-muted mb-2">
                {{ durationError }}
              </div>
            </div>
          </div>
          <button
            (click)="createAuction()"
            type="button"
            class="btn btn-success"
          >
            Create Auction
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
