<div class="pt-md-5 mt-5">
  <img src="./assets/placeholder_large.png" style="width: 100%" />
</div>
<div class="py-5">
  <h1 class="text-center">
    Bjarne Melgaard<br />
    My Trip
  </h1>
  <p class="text-center py-3">
    <span class="text-muted mr-1">Media</span> <strong>Film</strong>
    <span class="text-muted mr-1">• Duration</span> <strong>14 min</strong
    ><span class="text-muted mr-1"> • Resolution</span> <strong>4K</strong
    ><span class="text-muted mr-1"> • Year</span> <strong>2019</strong>
  </p>
  <div class="row justify-content-center pb-3">
    <div class="col-md-6">
      <p>
        My Trip has it all: a journey to the farthest reaches of the dark web,
        DMT hallucinations and existential crises. Explore the
        techno-underground with the artist’s weird and wacky crew. Melgaard
        raises the contradictory view that if we are to continue to exist,
        humans will have to cease to procreate, as a result of the carbon impact
        of producing new human life.
      </p>
      <p>
        The VR experience which inspires this film was shown at Sundance and is
        accompanied by a soundtrack created specifically for My Trip by
        Melgaard’s long-time collaborator Romina Cohn. Watch the full trailer
        above.
      </p>
      <p>
        Bjarne Melgaard is a Norwegian artist, curator, writer, film producer
        and fashion designer. He has participated in the Venice (2011), Lyon
        (2013) and Whitney (2014) Biennials, as well exhibited extensively in
        major museums and institutions world-wide.
      </p>
    </div>
  </div>
  <div>
    <hr />
    <div class="row justify-content-center py-3">
      <div class="col-md-6">
        <button type="button" class="btn btn-light px-5 mr-3">
          <div class="d-flex flex-column pt-1">
            <h5 class="m-0">04 of 10</h5>
            <small>Available • Edition</small>
          </div>
        </button>
        <button type="button" class="btn btn-success px-5 mr-3">
          <div class="d-flex flex-column pt-1">
            <h5 class="m-0">4600 tez</h5>
            <small>Buy • Lowest Ask</small>
          </div>
        </button>
        <button type="button" class="btn btn-danger px-5">
          <div class="d-flex flex-column pt-1">
            <h5 class="m-0">5800 tez</h5>
            <small>Sell • Highest Ask</small>
          </div>
        </button>
      </div>
    </div>
    <hr />
  </div>
</div>

<div class="row pb-5 mb-5">
  <div *ngFor="let color of colors$ | async" class="col-12 col-md-3 py-3">
    <app-artwork-card-item [color]="color"></app-artwork-card-item>
  </div>
</div>
