<div class="py-md-5 my-5">
  <h1>
    Unique
    <b
      ><span class="colors__c">c</span><span class="colors__o">o</span
      ><span class="colors__l">l</span><span class="colors__o__2nd">o</span
      ><span class="colors__r">r</span><span class="colors__s">s</span></b
    >
    as <b>NFT tokens</b> on Tezos
  </h1>
  <h1>one of each in existence</h1>
  <h1>three categories</h1>
  <small class="text-muted"
    >Caution, smart contracts have not been audited by a third party</small
  >
</div>
<div class="row py-5">
  <div class="col-12 col-md-4 pb-3 pb-md-0">
    <div class="card card--container__standard">
      <div class="card--header card-img-top text-center pt-3 pb-5">
        <h3 class="text-light py-3">Standard</h3>
      </div>
      <div
        class="card--header--symbol__container d-flex justify-content-center"
      >
        <div
          class="card--header--symbol d-flex justify-content-center align-items-center"
        >
          <h1 class="m-0">S</h1>
        </div>
      </div>
      <div class="card-body text-center pt-0">
        <p class="text-muted font-weight-light m-0">Colors</p>
        <h3 class="pb-3">1530</h3>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-4 pb-3 pb-md-0">
    <div class="card card--container__epic">
      <div class="card--header card-img-top text-center pt-3 pb-5">
        <h3 class="text-light py-3">Epic</h3>
      </div>
      <div
        class="card--header--symbol__container d-flex justify-content-center"
      >
        <div
          class="card--header--symbol d-flex justify-content-center align-items-center"
        >
          <h1 class="m-0">E</h1>
        </div>
      </div>
      <div class="card-body text-center pt-0">
        <p class="text-muted font-weight-light m-0">Colors</p>
        <h3 class="pb-3">128</h3>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-4 pb-3 pb-md-0">
    <div class="card card--container__legendary">
      <div class="card--header card-img-top text-center pt-3 pb-5">
        <h3 class="text-light py-3">Legendary</h3>
      </div>
      <div
        class="card--header--symbol__container d-flex justify-content-center"
      >
        <div
          class="card--header--symbol d-flex justify-content-center align-items-center"
        >
          <h1 class="m-0">L</h1>
        </div>
      </div>
      <div class="card-body text-center pt-0">
        <p class="text-muted font-weight-light m-0">Colors</p>
        <h3 class="pb-3">32</h3>
      </div>
    </div>
  </div>
</div>
<div
  class="row justify-content-center align-items-center py-5 my-5 explore--container"
>
  <div class="col-12">
    <h1 class="text-center">
      1690 unique
      <b
        ><span class="colors__c">c</span><span class="colors__o">o</span
        ><span class="colors__l">l</span><span class="colors__o__2nd">o</span
        ><span class="colors__r">r</span><span class="colors__s">s</span></b
      >
      in three categories
    </h1>
  </div>
  <div class="col-12 col-md-3">
    <button type="button" class="btn btn-block btn-light" routerLink="/explore">
      Explore
    </button>
  </div>
</div>
<div class="py-5">
  <h3>
    Open Auctions - <strong>{{ colorsCount$ | async }}</strong>
  </h3>
</div>
<div class="row pb-5 mb-5">
  <div *ngFor="let color of colors$ | async" class="col-12 col-md-3 py-3">
    <app-color-card-item [color]="color"></app-color-card-item>
  </div>
  <div
    class="col-12 col-md-3 py-3 d-flex align-items-center justify-content-center"
  >
    <div class="auctions--decorator__1">
      <img src="/assets/auctions-decorator-1.svg" />
    </div>
    <div class="auctions--decorator__2">
      <img src="/assets/auctions-decorator-2.svg" />
    </div>
    <button
      type="button"
      class="btn btn-block btn-light mx-3"
      routerLink="/auctions"
    >
      View all open auctions
    </button>
  </div>
</div>
