<div *ngIf="color" class="modal-body">
  <div class="row">
    <div class="col-12 col-md-8 pb-3 pb-md-0">
      <div class="card">
        <div class="card-body">
          <ng-container *ngIf="color.type === 'film'; else background">
            <h5>Trailer</h5>
            <div class="card--artwork__header">
              <ng-container
                *ngIf="itemState === 'own'; then Main; else Trailer"
              ></ng-container>
              <ng-template #Main>
                <app-player [videoUrl]="color.formats[0].uri"></app-player>
              </ng-template>
              <ng-template #Trailer>
                <app-player [videoUrl]="color.artifactUri"></app-player>
              </ng-template>
            </div>
          </ng-container>

          <ng-template #background>
            <div
              class="card--artwork__header"
              [ngStyle]="{
                'background-image': 'url(' + color.artifactUri + ')'
              }"
            ></div
          ></ng-template>
          <p class="pt-3">{{ color.description }}</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4 pb-3 pb-md-0">
      <app-artwork-card-item
        [color]="color"
        [isModal]="true"
      ></app-artwork-card-item>
    </div>
  </div>
</div>
