<div *ngIf="color" class="modal-body">
  <div class="row">
    <div class="col-12 col-md-8 pb-3 pb-md-0">
      <div class="card">
        <div class="card-body">
          <!-- TODO: Whitelabeld Vimeo Player if category film -->
          <div
            class="card--artwork__header"
            [ngStyle]="{
              'background-image': 'url(' + color.thumbnailUri + ')'
            }"
          ></div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4 pb-3 pb-md-0">
      <app-artwork-card-item
        [color]="color"
        [isModal]="true"
      ></app-artwork-card-item>
    </div>
  </div>
</div>
