<div class="container-fluid bg-dark">
  <div class="container">
    <div class="row py-5">
      <div class="col"></div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row py-4">
    <div class="col d-flex align-items-center">
      <a class="nav-link text-muted" href="#">How to use</a>
      <a class="nav-link text-muted" href="#">Terms and Conditions</a>
    </div>
    <div class="col d-flex justify-content-md-end">
      <a href="#" class="text-dark mr-4"
        ><fa-icon [icon]="['fab', 'instagram-square']"></fa-icon
      ></a>
      <a href="#" class="text-dark mr-4"
        ><fa-icon [icon]="['fab', 'reddit']"></fa-icon
      ></a>
      <a href="#" class="text-dark mr-4"
        ><fa-icon [icon]="['fab', 'twitter']"></fa-icon
      ></a>
      <a href="#" class="text-dark mr-4">
        <fa-icon [icon]="['fab', 'discord']"></fa-icon
      ></a>
    </div>
  </div>
</div>
