<div class="modal-body">
  <div class="row">
    <div class="col-12 pb-3 pb-md-0">
      <div class="card">
        <div class="card-body">
          <button
            type="button"
            class="close pull-right"
            aria-label="Close"
            (click)="bsModalRef.hide()"
          >
            <span aria-hidden="true">&times;</span>
          </button>
          <h3>Terms and Conditions</h3>
          <p>Please read the following carefully before proceeding:</p>

          <input
            [formControl]="checkedControl"
            (change)="onChange($event)"
            type="checkbox"
            id="check"
            style="width: auto"
            id="check"
          />

          <label for="check">
            <a class="nav-link" href="#" target="_blank"
              >Terms and Conditions</a
            ></label
          ><br />

          <div class="mt-auto">
            <div class="p-4">
              <div class="d-flex flex-column pt-3">
                <button
                  type="button"
                  class="btn btn-block btn-success"
                  (click)="submit(); bsModalRef.hide()"
                  [disabled]="!checkedControl.value"
                >
                  Submit
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
