.card {
  .card-body {
    padding: 0;
  }
  .card--artwork__header {
    min-height: 164px;
    border-radius: 16px;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .btn-sm {
    min-width: 40px;
    border-radius: 16px;
    transition: 1s;
    fa-icon {
      margin: 0;
    }
  }
  .btn__favorite {
    opacity: 0;
  }
  &:hover {
    .btn__favorite {
      opacity: 1;
    }
  }
}
.badge {
  font-size: 0.5em;
  &.badge-light {
    background-color: #efefef;
  }
}
