/* Manrope font imports*/
@font-face {
  font-family: 'Manrope';
  src: url(/assets/fonts/Manrope/manrope-regular.woff) format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Manrope';
  src: url(/assets/fonts/Manrope/manrope-light.woff) format('truetype');
  font-weight: 200;
}

@font-face {
  font-family: 'Manrope';
  src: url(/assets/fonts/Manrope/manrope-bold.woff) format('truetype');
  font-weight: 600;
}

$font-family-sans-serif: 'Manrope', sans-serif;
$font-size-base: 14;
$h1-font-size: 30px;

/* custom colors */
$theme-colors: (
  'primary': #2c7df7,
  'success': #61dd56,
  'danger': #f45f5f,
  'light-dark': #fafafa,
);

$border-radius: 8px;
$card-border-color: rgba(0, 0, 0, 0.04);
$card-border-radius: 24px;
$card-bg: map_get($theme-colors, 'light-dark');
$navbar-nav-link-padding-x: 1rem;
$nav-tabs-border-width: 0;
$nav-tabs-link-active-color: map_get($theme-colors, 'primary');
$nav-tabs-link-active-bg: none;
$input-line-height: 2;
$input-font-weight: 600;
$input-font-size: 18px;
$input-border-color: #dbe2ea;
$input-border-radius: $border-radius;
$input-group-addon-bg: #fff;
$input-btn-focus-box-shadow: none;
$btn-line-height: 2.5;
$btn-border-radius: $border-radius;
$card-spacer-x: 1.5rem;
$dropdown-link-active-bg: rgba(map_get($theme-colors, 'primary'), 0.54);
$modal-content-bg: transparent;
$modal-content-border-width: 0;
$link-hover-decoration: none;

.nav-link.active {
  font-weight: bold;
}

.container {
  max-width: 1400px !important;
}

.input-group {
  border-radius: $border-radius;
}

.card,
app-footer-item {
  .input-group-prepend .btn,
  .input-group-append .btn {
    border-top-right-radius: $border-radius !important;
    border-bottom-right-radius: $border-radius !important;
  }
}

.btn-success {
  color: #fff !important;
}

.panel {
  margin-bottom: 4px;
  button,
  .card {
    box-shadow: none !important;
  }
  .card-header {
    background-color: #fff;
  }
  .card-header:first-child {
    border-radius: 24px;
  }
  .btn-link {
    color: var(--dark);
  }
}

.btn {
  fa-icon {
    margin-right: 0.75em;
  }
}

app-auction-modal {
  app-artwork-card-item {
    .h-100 {
      height: initial !important;
    }
  }
}

.btn-group > .btn:not(:last-child):not(.dropdown-toggle),
.btn-group > .btn-group:not(:last-child) > .btn {
  border-top-right-radius: $border-radius !important;
  border-bottom-right-radius: $border-radius !important;
}

@import '../node_modules/bootstrap/scss/bootstrap';

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
